@font-face {
    font-family: "Roboto";
    font-weight: normal;
    src:
        local("Roboto"),
        url("../fonts/Roboto-Regular.ttf") format("truetype");
        
    font-display: swap;
}

@font-face {
    font-family: "Anton";
    font-weight: normal;
    src:
        local("Anton"),
        url("../fonts/Anton-Regular.ttf") format("truetype");

    font-display: swap;
}

@font-face {
    font-family: "Lato";
    font-weight: 400;
    src:
        local("Anton"),
        url("../fonts/Lato-Regular.ttf") format("truetype");

    font-display: swap;
}
  
:root{
    --default_black: #171717;
    --default_white: #fcfcfc;
    --primary_color: #c2c2c2;
    --secondary_color: #005F94; 
    --tertiary_color: rgba(255, 255, 255, 0.305);
    /*--secondary_color: #FF6F3C; 
    --tertiary_color: #FF9A3C;*/

    --title_font: "Anton", sans-serif;
    --text_font: "Lato", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    height: auto;
    width: 100%;
    overflow-y: scroll;
    color: var(--default_black);
}

body section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: var(--title_font);
    font-weight: 700;
    font-size: 4rem;
}

h2{
    font-size: 2.5rem;
    font-family: var(--title_font);
    margin-bottom: 50px;
}

h3{
    font-family: var(--title_font);
    font-size: 2rem;
    padding: 10px 0;
    color: var(--secondary_color);
}

p{
    font-family: var(--text_font);
    font-size: 15pt;
}

hr{
    width: 95%;
    height: 3px;

    margin: 100px 0;
    border: none;
    background-color: var(--default_black);
    opacity: 0.9;
}

header{
    width: 100vw;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.header_section{
    max-height: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: var(--secondary_color);
    padding: 4px 0;
}

.header_section div{
    margin: 0px 4px;
}

.header_section button{
    background: transparent;
    border: hidden;
    border-radius: 20%;
    aspect-ratio: 1 / 1;
    height: 50px;
    cursor: pointer;
}

.header_section img{
    min-height: 20px;
    height: 50%;
    aspect-ratio: 1 / 1;
}


.header_section button:hover{
    background: var(--tertiary_color);
}

.header_section button:hover img{
    width: 60%;
}

.profile_image{
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    min-width: 200px;
    width: 25%;
    object-fit: cover;
    margin: 5%;
    size: 768px;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    color: var(--default_black);
    margin-right: 35px;
}

.socials img{
    aspect-ratio: 1 / 1;
    height: 18pt;
    width: 18pt;
}

.socials p{
    font-size: 12pt;
}

section.introduction{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.introduction_header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduction_socials{
    display: flex;
    align-items: center;

    margin-top: 40px;
}

.content_div{
    width: 90%;
}

.content_div p{
    margin-bottom: 10px;
    text-align: start;
}

.stack_icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 4px 4px 0 0;
    border: solid;
    border-color: var(--primary_color);
    border-width: 3px;
    border-bottom-width: 2px;
    overflow-x: scroll;
}

.stack_icons img{
    aspect-ratio: 1/1;
    width: 100%;
}

.stack_icons button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    aspect-ratio: 1/0.7;
    padding: 40px;
    background: transparent;
    border: none;
}

.stack_icons button:hover{
    background-color: var(--primary_color);
}

.content_display{
    width: 100%;
    min-height: 200px;
    border-radius: 0 0 4px 4px;
    border: solid;
    border-top: none;
    border-color: var(--primary_color);
    border-width: 3px;
    display: flex;
}

.content_display div{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: relative;
}

.content_display p{
    width: 100%;
}

.project_div{
    overflow-x: scroll;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 700px;
}

.project_div a{
    min-width: 430px;
    max-width: 430px;
    min-height: 430px;
    border-radius: 10px;
    border: solid;
    border-color: var(--primary_color);
    border-width: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin: 0 1%;
    margin-bottom: 50px;
}

.project_description{
    color: var(--default_black);
    width: 90%;
    height: 150px;
    text-align: start;
}

.project_image{
    width: 90%;
    aspect-ratio: 1/0.6;
    border-radius: 10px;
    position: relative;
    margin: 5%;
    object-fit: cover;
}

.project_link{
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.awards_div{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
}
.award{
    border: solid;
    border-radius: 10px;
    border-color: var(--primary_color);
    border-width: 4px;
    padding: 20px;
    margin-bottom: 30px;
    width: 25%;
    margin: 1%;
    aspect-ratio: 1/1;
    min-height: max-content;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    text-decoration: none;
}

.award p{
    font-size: 1.3rem;
    color: var(--default_black);
}

.award img{
    width: 200px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--default_black);
    overflow: hidden;
    padding: 20px 0;
}

footer h2{
    color: var(--default_white);
    margin: 0;
    font-family: var(--text_font);
    font-size: 16pt;
}

.info{
    width: 100%;
    color: var(--default_white);
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 5%;
}

.footer img{
    width: 1.7rem;
    aspect-ratio: 1/1;
    margin-right: 10px;
}

.info_field{
    width: max-content;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 50%;
    margin: 0 10%;
    margin-bottom: 20px;
}

.info_field div{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

footer h2{
    font-family: var(--text_font);
    font-size: 14pt;
}

footer .info_field a{
    font-size: 12pt;
    text-decoration: none;
    font-family: var(--text_font);
    color: var(--default_white);
}

footer .info_field p{
    font-size: 12pt;
    font-family: var(--text_font);
    color: var(--default_white);
}

p.copyrightNotice{
    font-size: 8pt;
    color: var(--primary_color);
    text-align: center;
}

.invisible{
    display: none;
}

@media(max-width: 1920px){
    img.profile_image{
        size: 654px;
    }
}